{% extends "bootstrap/base.html" %}
{% block title %} MPA Liste de courses {% endblock %}
{% block navbar %}
<nav>
    <ul>
        <li>
            <a href="/listes">Mes Listes</a>
            <a href="/categories">Mes catégories</a>
            <a href="/magasins">Mes magasins</a>
            <a href="/recettes">Mes recettes</a>
    </ul>
</nav>
{% endblock %}

{% block content %}
  {% block contenu %}
  {% endblock %}
{% endblock %}
